[*.cs]

# SKEXP0070: Le type est utilisé à des fins d’évaluation uniquement et est susceptible d’être modifié ou supprimé dans les futures mises à jour. Supprimez ce diagnostic pour continuer.
dotnet_diagnostic.SKEXP0070.severity = silent
